/* Table of Content - Pixel Art Maker Style Sheet 
==================================================
  1.Body and Typography style
  2.Basic Header Styles
  3.Grid Table and Common style
  4.Misc Style
*/

  /*Body and Typography style
  =========================*/
body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif !important;
  }
  
  h1 {
    font-family: Monoton;
    font-size: 2.25em;
    margin: 0.2em;
  }
  
  h2 {
    margin: 0.5em 0 0.1em;
    font-size: 1.25em;
  }
  
  h2:first-of-type {
    margin-top: 0.2em;
  }
  h3 {
    margin: 0.5em 0 0.1em;
    font-size: 1em;
  }

  /*The Grid Table Styles
  =========================*/
  table,
  tr,
  td {
    border: 0.05em solid #00bcd4;
  }
  
  table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  
    tr {
      height: 1em;
    }
    
    td {
      width: 1em;
    }
    
    input[type="number"] {
      width: 8em;
      padding: 0.25em;
      margin: 0 0.50em 0 0;
    }

  /*Misc Style
  =========================*/
  #submitButton {
    padding: 0.25 0.75em;
    border-radius: 0.10em;
    border-color: aliceblue;
    font-weight: 800;
    color: #2196F3;
    background-color: #BBDEFB;
  }
  
  #colorPicker {
    width: 10em;
  }
